<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>teabooker</display-name>
	<servlet>
		<servlet-name>user</servlet-name>
		<servlet-class>teabooker.controller.User</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>user</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>group</servlet-name>
		<servlet-class>teabooker.controller.Group</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>group</servlet-name>
		<url-pattern>/group</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>event</servlet-name>
		<servlet-class>teabooker.controller.Event</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>event</servlet-name>
		<url-pattern>/event</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>shop</servlet-name>
		<servlet-class>teabooker.controller.Shop</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>shop</servlet-name>
		<url-pattern>/shop</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>food</servlet-name>
		<servlet-class>teabooker.controller.Food</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>food</servlet-name>
		<url-pattern>/food</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>order</servlet-name>
		<servlet-class>teabooker.controller.Order</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>order</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>